@page
@model Hofre.Pages.ForgotPasswordModel
@{
}

<section class="page-title-area page-title-bg1">
    <div class="container">
        <div class="page-title-content">
            <h1 title="فراموشی کلمه عبور">فراموشی کلمه عبور</h1>
        </div>
    </div>
</section>
<section class="profile-authentication-area ptb-100">
    <div class="container">
       
        <br />
        <div class="row">

            <div class="col-lg-8 col-md-8 " style="position:center; margin:auto;">
                <div class="login-form">

                    <h2>فراموشی کلمه عبور</h2>

                    <form method="post" asp-page-handler="Login">
                        @ViewData["Message"]
                        <div class="validation text-danger" asp-validation-summary="All"></div>

                        <div class="form-group">
                            <input type="text" name="entery" class="form-control" placeholder="نام کاربری یا ایمیل" required>
                        </div>


                        <button type="submit">ثبت</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
