@page 
@model Hofre.Pages.ResultModel
@{
}
<section class="page-title-area page-title-bg1">
    <div class="container">
        <div class="page-title-content">
            <h1 title="نتیجه">نتیجه</h1>
        </div>
    </div>
</section>
<section class="profile-authentication-area ptb-100">
    <div class="container">
       
        <br />
        <div class="row">

            <div class="col-lg-8 col-md-8 " style="position:center; margin:auto;">
                <div class="login-form">

                   <div class="alert alert-primary">
                       @ViewData["message"]
                   </div>

                </div>
            </div>
        </div>
    </div>
</section>
