@page
@model Hofre.Areas.Admin.Pages.Article.CreateModel
@{
}

<div class="content-body">

    <!-- Page Headings Start -->
    <div class="row justify-content-between align-items-center mb-10">

        <!-- Page Heading Start -->
        <div class="col-12 col-lg-auto mb-20">
            <div class="page-heading">
                <h3>افزودن دسته بندی مقاله</h3>
            </div>
        </div><!-- Page Heading End -->
       
    </div><!-- Page Headings End -->
    <!-- Add or Edit Product Start -->
    <div class="add-edit-product-wrap col-12">

        <div class="add-edit-product-form">
            <form method="post">


                <div class="row">
                    <div class="col-lg-12 col-12 mb-30"><input class="form-control" name="Name" type="text" placeholder="نام دسته بندی" required></div>
                    
                </div>


                <!-- Button Group Start -->
                <div class="row">
                    <div class="d-flex flex-wrap justify-content-end col mbn-10">
                        <button class="submit button button-outline button-primary mb-10 ml-10 mr-0">ذخیره و انتشار</button>
                       
                    </div>
                </div><!-- Button Group End -->

            </form>
        </div>

    </div><!-- Add or Edit Product End -->

</div><!-- Content Body End -->